<template>
  <div class="home">
    <div class="container m-5 p-2 rounded mx-auto bg-light shadow">
      <!-- App title section -->
      <div class="row m-1 p-4">
        <div class="col">
          <Titulo titulo="ToDos" />
        </div>
      </div>
      <!-- Create todo section -->
      <div class="row m-1 p-3">
        <div class="col col-11 mx-auto">
          <NewTodo @storeNewTodo="storeNewTodo" />
        </div>
      </div>
      <div class="p-2 mx-4 border-black-25 border-bottom"></div>
      <!-- Todo list section -->
      <div class="row mx-1 px-5 pb-3 w-80">
        <div class="col mx-auto" v-if="todos.length > 0">
          <ToDo
            v-for="todo in todos"
            v-bind:key="todo.id"
            :todo="todo"
            @deleteTodo="deleteTodo"
            @markAsDone="markAsDone"
          />
        </div>
        <div class="col mx-auto p-5" v-else>
          <h5>No hay notas</h5>
        </div>
      </div>
      <!-- App footer section -->
      <div class="row m-1 p-4" v-if="todos.length > 1">
        <div class="col">
          <Titulo @click="clearAll" titulo="Borrar todas" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Titulo from "@/components/Titulo";
import ToDo from "@/components/ToDo";
import NewTodo from "@/components/newTodo";

export default {
  name: "ToDoApp",
  data() {
    return {
      todos: [],
    };
  },
  mounted() {
    if (localStorage.todos) {
      this.todos = JSON.parse(localStorage.getItem("todos"));
    }
  },
  methods: {
    clearAll() {
      this.todos = [];
      localStorage.setItem("todos", "");
    },
    deleteTodo(todo) {
      var index = this.todos
        .map((x) => {
          return x.id;
        })
        .indexOf(todo.id);

      this.todos.splice(index, 1);
    },
    markAsDone(todo) {
      todo.done = true;
      localStorage.setItem("todos", JSON.stringify(this.todos));
    },
    storeNewTodo(todo) {
      this.todos.push({
        id: Date.now(),
        done: false,
        data: todo,
        date: new Date().toLocaleDateString(),
      });
      localStorage.setItem("todos", JSON.stringify(this.todos));
    },
  },
  components: {
    Titulo,
    ToDo,
    NewTodo,
  },
};
</script>
<style scoped>
.add-todo-input,
.edit-todo-input {
  outline: none;
}

.add-todo-input:focus,
.edit-todo-input:focus {
  border: none !important;
  box-shadow: none !important;
}

.view-opt-label,
.date-label {
  font-size: 0.8rem;
}

.edit-todo-input {
  font-size: 1.7rem !important;
}

.todo-actions {
  visibility: hidden !important;
}

.todo-item:hover .todo-actions {
  visibility: visible !important;
}

.todo-item.editing .todo-actions .edit-icon {
  display: none !important;
}
</style>
