<template>
  <div
    class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center"
  >
    <div class="col">
      <input
        class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"
        type="text"
        placeholder="Escribe una nota..."
        v-model="todo"
        v-on:keyup.enter="storeNewTodo"
      />
    </div>
    <div class="col-auto px-0 mx-0 mr-2">
      <button type="button" @click="storeNewTodo" class="btn btn-primary">
        Añadir
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: "newTodo",
  data() {
    return { todo: "" };
  },
  methods: {
    storeNewTodo() {
      this.$emit("storeNewTodo", this.todo);
      this.todo = "";
    },
  },
};
</script>
