<template>
  <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
    <h1 @click="click">{{ titulo }}</h1>
  </div>
</template>
<script>
export default {
  props: ["titulo"],
  name: "titulo",
  methods: {
    click() {
      this.$emit("click");
    },
  },
};
</script>
