<template>
  <div class="row px-3 align-items-center todo-item rounded">
    <div class="col-auto m-1 p-0 d-flex align-items-center">
      <h2 class="m-0 p-0">
        <i
          class="fa fa-square-o text-primary btn m-0 p-0"
          v-if="todo.done"
          @click="deleteTodo(todo)"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Eliminar"
          >X</i
        >
        <i
          class="fa fa-check-square-o text-primary btn m-0 p-0"
          v-else
          @click="markAsDone(todo)"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Marcar completa"
          >V</i
        >
      </h2>
    </div>
    <div class="col px-1 m-1 d-flex align-items-center">
      <input
        class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3"
        v-bind:class="{ 'marked-as-done': todo.done }"
        readonly
        :value="todo.data"
      />
    </div>
    <div class="col-auto m-1 p-0 px-3 d-none"></div>
    <div class="col-auto m-1 p-0 todo-actions">
      <div class="row todo-created-info">
        <div class="col-auto d-flex align-items-center pr-2">
          <label class="date-label my-2 text-black-50">{{ todo.date }}</label>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["todo"],
  name: "Todo-Element",
  methods: {
    markAsDone() {
      this.$emit("markAsDone", this.todo);
    },
    deleteTodo() {
      this.$emit("deleteTodo", this.todo);
    },
  },
};
</script>

<style scoped>
.marked-as-done {
  text-decoration: line-through;
  opacity: 0.5 !important;
}
</style>
